<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class='pane'>
	<div class='header'>
		<h1>Edit Menu Item</h1>
	</div>
	<div class ='form'>
		<form action="{{ url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_id )}}" method = 'post'>

			<p>Name:</p>
			<input type='text' size='30' name='name', placeholder = '{{item.name }}'>

			<p>Description:</p>
			<input type='text' size='30' name='description'>

			<p>Price:</p>
			<input type='text' size='30' name='price'>	
			
			<p>Course:</p>
			<label class="radio">
			<input type="radio" name="course">Appetizer</label>
			</br>
			<label class="radio">
			<input type="radio" name="course">Entree</label>
			</br>
			<label class="radio">
			<input type="radio" name="course">Dessert</label>
			</br>
			<label class="radio">
			<input type="radio" name="course">Beverage</label>
			
			</br></br>
			<input type='submit' value='Edit'>
			<a href = '{{url_for('restaurantMenu', restaurant_id = restaurant_id)}}'>Cancel</a>

		</form>
	</div>
</div>
</body>
</html>